.profile {
  width: 350px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: slategray;
  letter-spacing: 1px;
  text-align: center;
}

.cfname {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  letter-spacing: 2px;
}

.box {
  width: 400px;
  margin: 0px auto;
  background-color: cadetblue;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 5px darkblue;
}
