@use '_reset.scss';

%active {
  color: white;
  background-color: #017bff;
}

%div-size {
  width: 600px;
  padding: 15px;
  margin-top: 20px;
}

@mixin color($bg-color, $txt-color) {
  background-color: $bg-color;
  color: $txt-color;
  font-weight: 800;
}

.list-box {
  li {
    // @extend %active;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    border: 1px solid #eee;
    &:hover {
      @extend %active;
    }
  }
}

.alert-box:first-child {
  @extend %div-size;
  @include color(#dff0d8, black);
}

.alert-box:nth-child(2) {
  @extend %div-size;
  @include color(#d9edf7, #d9edf7);
}

.alert-box:last-child {
  @extend %div-size;
  @include color(#fcf8e3, #fcf8e3);
}

@mixin column($width) {
  display: flex;
  width: $width;
  padding: 15px;
}

.row {
  @include column(100%);
}

.col-6 {
  @include column(50%);
}

.col-4 {
  @include column(33%);
}
